</div>

<div class="container-fluid footerback">
    <div class="social2">
        <div class="d-block justify-content-end social_icon2">
            <span><a href="https://es-es.facebook.com/ARDALESTUR/"><i class="fab fa-facebook-square"></i></a></span>
            <span><a href="http://www.malaga.es/es/turismo/naturaleza/lis_cd-8831/ardalestur"><i
                        class="fab fa-google-plus-square"></i></a></span>
            <span><a href="https://twitter.com/ardalestur?lang=es"><i class="fab fa-twitter-square"></i></a></span>
        </div>
       
            <ul class="row footermenu">
                <a class="nav-link" href="/">INICIO</a>
                <li class="nav-link">RESERVAS CAMINITO DEL REY</li>
                <li class="nav-link">CONSULTAS</li>
                <li class="nav-link">LOCALIZACIONES</li>
                <li class="nav-link">HISTORIA</li>
                <li class="nav-link">CONTACTO</li>
            </ul>
       
    </div>
</div>
<div class="container-fluid footerback2">
    <div class="footerback1letrilla">TURISMO ECOLOGICO Y CULTURAL</div></br>
    <div class="footerback2letrilla">@ARDALESTUR CULTURA TURISMO RURAL & HISTORIA</div></span>
</div>


<!--Div calendar permanently (visible)-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>