<% include _header %>
<div class="fondo">
    <header>
        <!-- NAVBAR DIV -->
        <div class="container-fluid containerNavbar">

            <nav class="navbar navbar-expand-lg navbar-light barra">

                <!-- BUTTON MENU RESPONSITIVE -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav widthnavbar">
                        <li class="nav-item ours">
                            <a class="nav-link" href="#">SOBRE NOSOTROS</a>
                        </li>
                        <!-- CONTACT -->
                        <li class="nav-item contact">
                            <a class="nav-link" a href="../Pagina catamiento/contacto.html" rel="next"
                                target="_blank">CONTACTO</a>
                        </li>

                        <!-- CAMINITO DEL REY BOKINGS -->
                        <li class="nav-item bookingCaminito">
                            <!-- BOOKINGS WITH DATE PICKER ON NAVBAR -->
                            <a class="nav-link pointer" class="btn" data-toggle="modal" data-target="#exampleModal">
                                RESERVAS CAMINITO DEL REY</a>

                        </li>


                        <!-- OTHER ROUTES -->
                        <li class="nav-item dropdown otherRoutes">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                OTRAS RUTAS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#tatoine">Castillo Peña de Ardales</a>
                                <a class="dropdown-item" href="#">Cueva Doña Trinidad Grund</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Necrópolis de las Aguilillas</a>
                                <a class="dropdown-item" href="#tatoine">Ruinas de Bobastro</a>
                            </div>
                        </li>
                        <!-- OUR GUIDES -->
                        <li class="nav-item ourGuides">
                            <a class="nav-link" href="#">NUESTROS GUIAS</a>
                        </li>
                        <li class="nav-item admin">
                            <a class="nav-link" a href="/admin" rel="next" target="_blank">ADMIN</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

        <!-- HOME LOGO -->

        <a class="nav-link" href="/">
            <img class="logo" src="./img/footverde.png"></a>
    </header>

    <div class="modal-dialog registerbox" role="document">
        <div class="modal-content registerbox">
            <div class="card-header selecciona">
                <h2>Selecciona el día de tu visita</h2>
            </div>
            <!-- DATEPICKER -->

            <form action="/bookings/add" method="post">
                <input type="text" id="inputsize" name="firstname" placeholder="Nombre" class="form-control">
                <input type="text" id="inputsize" name="lastname" placeholder="Apellidos" class="form-control">
                <input type="text" id="inputsize" name="phone" placeholder="Teléfono" class="form-control">
                <input type="text" id="inputsize" name="address" placeholder="Residencia" class="form-control">
                <input type="text" id="inputsize" name="mail" placeholder="Email" class="form-control">
                <select class="form-control" id="inputsize" name="size">
                    <option value="-25">-25 Personas</option>
                    <option value="25">25 Personas</option>
                    <option value="+25">+25 Personas</option>
                </select>
                <button type="submit" class="btn btn-primary reserv">Reservar</button> <img class="minicallendar"
                    src="./img/callendar.png"> <input class="datepicker-here introducing" data-language='es'
                    name="date">
            </form> <!-- CARD USERBOX -->
        </div>

    </div>

    <div class="social">
        <div class="d-block justify-content-end social_icon">
            <span><a href="https://es-es.facebook.com/ARDALESTUR/"><i class="fab fa-facebook-square"></i></a></span>
            <span><a href="http://www.malaga.es/es/turismo/naturaleza/lis_cd-8831/ardalestur"><i
                        class="fab fa-google-plus-square"></i></a></span>
            <span><a href="https://twitter.com/ardalestur?lang=es"><i class="fab fa-twitter-square"></i></a></span>
        </div>
    </div>

    <% include _footer %>